@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
}

.heroes-enter {
  opacity: 0;
  transform: scale(0.9);
}
.heroes-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}
.heroes-exit {
  opacity: 1;
}
.heroes-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 400ms;
}
